@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
}
.center {
  margin: 0 auto;
  text-align: center;
}
.number-input {
  width: 350px;
  height: 60px;
  text-align: center;
  margin: 1.5%;
  font-size: medium;
  color: black;
}
p,
h1,
h4,
.btn {
  margin: 10px;
}

h1 {
  margin: 50px;
}

body {
  background-color: black;
  color: white;
}

::marker {
  font-weight: 600;
  color: tomato;
  font-size: 1.8rem;
}

/* modals */
.popup {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}
.popup .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 35px;
  text-align: justify;
  background: #eee;
  color: black;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.popup .close-popup {
  width: 90px;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 18px;
  padding: 3px;
  font-weight: 300;
  background-color: green;
  border-radius: 9px;
}
.popup:target {
  display: block;
}
ul li {
  margin-top: 5px;
}
/* final modal */
.final-popup {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}
.final-popup .final-popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 35px;
  text-align: justify;
  color: #eee;
  background-color: black;
  border: 2px solid white;
}
.final-popup-content p {
  font-size: 15px;
}

.final-popup .final-close-popup {
  width: 122px;
  position: absolute;
  top: 38px;
  right: 20px;
  font-size: 18px;
  padding: 3px;
  font-weight: 300;
  background-color: green;
  border-radius: 9px;
}
.final-popup:target {
  display: block;
}
